#header{
  overflow:auto;
  display:block;
}

ul#header-icons{
  float:right;
  margin-top:0px;
}

ul#header-icons li{
  display: inline;

}

ul#header-icons a{
  text-decoration: none;
  font-family: arial, sans-serif;
  font-size: 13px;
  color: #000;
  margin: 0px 4px;
  vertical-align: middle;
}



#center{
  text-align: center;
  display:block;
}

#logo_div{
  margin-top:120px;
}

#glogo{
  margin:0 auto;
}
